.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.my-avatar /deep/ .avatar-content {
  background-color: rgb(0, 52, 77) !important;
}

.mat-toolbar.mat-primary{
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-content{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: right; /* Alinea los elementos a la izquierda */
  align-items: center; /* Alinea verticalmente los elementos al centro */
}
