<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear Materias</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Materia" formControlName="materia">
            <mat-error *ngIf="addressForm.controls['materia'].hasError('required')">
              Materia es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prueba" formControlName="Prueba">
            <mat-error *ngIf="addressForm.controls['Prueba'].hasError('required')">
              Prueba es <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Crear</button>
    </mat-card-actions>
  </mat-card>
</form>
